body {
  font-family: Nerko One;
  color: #F6F0D6;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  opacity: 0.75;
}

.sinopsis {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #C42E2F;
  ;
}

.sinopsis p {
  line-height: 1.8;
  /* Puedes ajustar este valor según tus preferencias */
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.image-overlay h1 {
  color: white;
  /* Ajusta el color del texto según tus preferencias */
  font-size: 7em;
  /* Ajusta el tamaño de la fuente según tus preferencias */
  /* Agrega otros estilos de texto según tus preferencias */
  color: #F6F0D6;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  /* Agrega un contorno al texto */
  /* Ajusta otros estilos de texto según tus preferencias */

}