.roadmap-container {
  padding-top: 60px;
  background: linear-gradient(to top, #FFFFFF, #87CEEB);
}

/**
  POSTES
*/
.roadmap-content-container {
  padding-bottom: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.roadmap-content-cards {
  padding: 10px 0;
  z-index: 2;
}

.roadmap-content-poste-left,
.roadmap-content-poste-right {
  background-color: #ac571a;
  width: min(15vw, 40px);
  height: 100%;
  position: absolute;
  border-radius: 0.5vw 0.5vw 0 0;
  box-shadow: 0 0 0 1px rgba(150, 100, 50, 0.5);
}

.roadmap-content-poste-left {
  transform: translateX(-150%);
}

.roadmap-content-poste-right {
  transform: translateX(150%);
}

/**
  IMAGENES
*/
.img-rocas {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/**
  MEDIA
*/
@media (min-width: 480px) {
  .roadmap-content-poste-left,
  .roadmap-content-poste-right {
    width: 60px;
  }
}

@media (min-width: 800px) {
  .roadmap-content-cards {
    padding: 20px 0 10px
  }

  .roadmap-content-poste-left,
  .roadmap-content-poste-right {
    width: 80px;
  }
}

@media (min-width: 1200px) {
  .roadmap-content-poste-left,
  .roadmap-content-poste-right {
    width: 100px;
  }
}