.contenedor {
    background-color: #F6F0D6;
    color: #F18523;
    z-index: -1;
}

/**
    TITULO
    ---------------------------------
*/
.title-box {
    display: flex;
    align-items: center;
}

hr {
    flex: 1;
    border: 2px solid #F18523;
}

.line_left {
    margin: 0 30px 0 0;
}

.line_right {
    margin: 0 0 0 30px;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    color: #F18523;
}

/**
    ---------------------------------
*/

/**
    SECCION ROADMAP
    ---------------------------------
*/
.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    width: 20px;
    height: 3500px;
    background-color: #F18523;
    position: absolute;
    z-index: 0;
}

/**
    ---------------------------------
*/

/**
    TARJETAS
    ---------------------------------
*/
.card {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 500px;
    z-index: 1;
}

img {
    max-width: 500px;
    height: 250px;
    border: 1px solid black;
    border-radius: 2px;
}

.card:nth-child(even) {
    background-color: #E6D8BD;
    margin-right: 400px;
    background-image: url("../../assets/Roadmap/borde_card.png");
    background-repeat: repeat-y;
    background-position: left;
    padding-left: 50px;
    color: #9D8878;
}

.card:nth-child(odd) {
    background-color: #9D8878;
    margin-left: 400px;
    background-image: url("../../assets/Roadmap/borde_card.png");
    background-repeat: repeat-y;
    background-position: right;
    padding-right: 50px;
    color: white;
}

/**
    ---------------------------------
*/