.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #71443F;
  color: #fff;
  padding: 10px 0;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /* Distribuir los elementos de forma equitativa */
  width: 100%;
  /* Ajustar el ancho al 100% */
}

.navbar-links li {
  margin-right: 150px;
  transition: background-color 0.3s;
}

.navbar-links li a {
  text-decoration: none;
  color: #F6F0D6;
  ;
  font-weight: bold;
  font-size: 20px;
}