footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #71443F;
    color: #fff;

}
.footer-logo {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}
.line {
    width: 80%;
    height: 1px;
    background-color: black;
}

.footer {
    margin: 2%;
}
.footer-follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social-media h4 {
    font-size: 13px;
}

.social-media {
    height: 50px;
}

.social-media img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.footer-copyright {
    font-size: 13px;
}