.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #71443F;
    color: #fff;
    font-family: 'Titan One', sans-serif;
}

.footer-logo { height: 50px; margin: 40px; font-size: 15px;}

.footer-media { width: 100%;}
.footer-follow-media { display: flex; justify-content: center;}
.footer-follow-media span{
    font-size: 1rem;
    opacity: 0;
    transform: translate(0px, -12px);
    transition: transform 0.1s ease, opacity 0.5s ease;
}
.footer-follow-media > div:hover span { 
    opacity: 1; transform: translate(0px,5px);
}
.media a:hover {
    background-color: black;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media a {
    display: flex;
    flex-direction: center;
    align-items: center;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 21px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.375rem;
}
.media a > svg {
    font-size: 24px;
}

.footer-nav-link ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 5px;
}
.footer-nav-link li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

.line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-other {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.other {font-size: 13px;}
.other ul {list-style: none;}
.other li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
.other p {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
