body {
    background-color: #f6f0d6;
    font-family: Nerko One;
}

.about-container {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    align-items: center;
}

.synopsis-section {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 40px;
    color: #C42E2F;
}

.features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f0d6;

}

.feature {
    width: 80%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgb(140, 67, 15);
    border-radius: 32px;
    border-width: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    /* Cambia a fila para que los elementos se alineen horizontalmente */
    align-items: center;
}

.content-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    /* Asegura que .content-container esté sobre .background-image */
}

.text-content {
    margin: 10px;
    width: 50%;
    color: #000000;
    padding: 0.2%;
    /* Asegura que el padding no afecte el ancho total */
    padding-left: 1%;
    flex: 0 0 80%;
    /* Evita que .text-content crezca y solo ocupe el espacio necesario */

}

.img-content {
    margin: 15px;
    width: 100%;
}

.overlay-image {
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
}

hr {
    flex: 1;
    border: 2px solid #F18523;
}

h2 {
    position: relative;
    left: 50px;
    text-align: center;
}