body {
    background-color: #f6f0d6;
    font-family: Nerko One;
}

.about-container {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    align-items: center;
}

.synopsis-section {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 40px;
    color: #C42E2F;
}

.features-section {
    background-color: #f6f0d6;
    width: 80%;
}

.feature {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    /* Cambia a fila para que los elementos se alineen horizontalmente */
    align-items: center;
}

.background-image {
    height: 200px;
    /* Ajusta según tus necesidades */
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-color: rgb(140, 67, 15);
    border-radius: 32px;
    border-width: 2px;
    flex: 1;
}

.content-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    /* Asegura que .content-container esté sobre .background-image */
}

.text-content {
    color: #000000;
    padding: 1%;

    /* Asegura que el padding no afecte el ancho total */
    flex: 0 0 50%;
    /* Evita que .text-content crezca y solo ocupe el espacio necesario */
    max-width: 50%;
}

.overlay-image {
    width: 20%;
    /* Ajusta según tus necesidades */
    height: 85%;
    align-self: flex-end;
    /* Alinea .overlay-image a la parte inferior de .content-container */
    margin: auto;
    margin-right: 50px;
    border-radius: 10px;
    border-width: 2px;
}

hr {
    flex: 1;
    border: 2px solid #F18523;
}