body {
    background-color: #f6f0d6;
    font-family: Nerko One;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.8;
}

.synopsis-section {
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 40px;
    color: #C42E2F;
}

.title-box {
    display: flex;
    align-items: center;
}

hr {
    flex: 1;
    border: 2px solid #F18523;
}

.features-section {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color: #f6f0d6;
    padding-bottom: 20px;
}

.features-section h2 {
    color: #F18523;
    margin-bottom: 50px;
}

.feature {
    margin-bottom: 20px;
    /* Espaciado entre cada cuadro de características */
}

.feature img {
    width: 80%;
    /* La imagen ocupa todo el ancho de su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
}